@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.text, .profession {
  font-family: "roboto";
  font-weight: 400;
  color: #999999;
  line-height: 24px;
  font-size: 15px;
}

.comment-text {
  font-family: "roboto";
  font-weight: 300;
  color: #999999;
  line-height: 36px;
  font-size: 24px;
}

.heading .top-heading, .author {
  font-family: 'Kaushan Script';
  font-weight: 400;
  font-size: 24px;
  color: #363636;
}

.heading {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  color: #363636;
}

.link-nav, .stat-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.card-name, .personal-name, .people-name, .blog-name {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

.body {
  margin: 0;
}

.btn-more {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.banner {
  background-image: url("../img/baner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  max-width: 1920px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  margin-left: auto;
  margin-right: 5%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.li {
  list-style: none;
  margin-right: 10%;
}

.link-nav {
  text-decoration: none;
}

.link-nav:hover {
  padding-bottom: 5px;
  color: #fce38a;
  border-bottom: solid 2px #fce38a;
}

.header-button {
  margin-left: 5%;
}

.butn {
  border: none;
  background: none;
  width: 20px;
  height: 19px;
  background-repeat: no-repeat;
  margin-top: 3px;
}

.butn:hover {
  border-bottom: solid 1px #fce38a;
  cursor: pointer;
}

.basket {
  background-image: url("../img/SHOPPING CART.svg");
}

.Search {
  background-image: url("../img/MAGNIFYING GLASS.svg");
  margin-left: 42px;
}

.header-mid {
  text-align: center;
  padding: 0 180px;
}

.heder-heading {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 150px;
  color: #ffffff;
  line-height: 140px;
  margin-bottom: 5%;
}

.heder-heading::after {
  content: '';
  width: 60px;
  height: 3px;
  display: block;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 70px;
}

.header-heading-top {
  font-family: 'Kaushan Script';
  font-weight: 400;
  color: #ffffff;
  font-size: 72px;
}

.btn-more {
  width: 20%;
  color: #ffffff;
  border: #ffffff solid 3px;
  background: none;
  height: 40px;
}

.btn-more:hover {
  color: #f38181;
  border: #f38181 solid 3px;
  -webkit-transition: 800ms;
  transition: 800ms;
}

.header-botton {
  padding-top: 8%;
  padding-bottom: 1%;
}

.running-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
}

.line {
  width: 20%;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  border-top: solid 3px #ffffff;
  list-style: none;
  padding-top: 25px;
  display: block;
}

.line .media-text-b {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.line:hover {
  border-top: #f38181 solid 3px;
}

.line:hover, .line:hover > .text-b {
  -webkit-transition: 800ms;
  transition: 800ms;
  color: #f38181;
}

@media (max-width: 1200px) {
  .header-top {
    margin: 0 auto;
    padding: 0 15px;
  }
  .heder-heading {
    font-size: 120px;
  }
  .running-line {
    padding: 0 15px;
  }
}

@media (max-width: 1100px) {
  .heder-heading {
    font-size: 95px;
    line-height: 100px;
  }
}

@media (max-width: 980px) {
  .heder-heading {
    font-size: 70px;
    line-height: 70px;
  }
  .header-heading-top {
    font-size: 50px;
  }
  .header-nav {
    display: none;
  }
  .btn-more {
    width: 30%;
  }
}

@media (max-width: 720px) {
  .header-mid {
    padding: 0 130px;
  }
  .heder-heading {
    font-size: 50px;
    line-height: 50px;
  }
  .header-heading-top {
    font-size: 30px;
  }
  .btn-more {
    width: 40%;
    font-size: 13px;
  }
  .media-text-b {
    font-size: 10px;
  }
  .line {
    font-size: 15px;
    padding-top: 20px;
  }
  .line .media-text-b {
    font-size: 11px;
  }
}

@media (max-width: 520px) {
  .header-mid {
    padding: 0 80px;
  }
  .heder-heading {
    font-size: 40px;
    line-height: 40px;
  }
  .header-heading-top {
    font-size: 25px;
  }
  .btn-more {
    width: 40%;
    font-size: 10px;
  }
  .line {
    font-size: 13px;
    padding-top: 10px;
  }
  .line .media-text-b {
    font-size: 9px;
  }
}

@media (max-width: 380px) {
  .heder-heading {
    font-size: 30px;
    line-height: 30px;
  }
  .header-heading-top {
    font-size: 15px;
  }
  .btn-more {
    width: 50%;
    font-size: 8px;
    height: 25px;
  }
  .line {
    font-size: 11px;
  }
  .line .media-text-b {
    font-size: 7px;
  }
}

.heading::after {
  content: '';
  width: 60px;
  height: 3px;
  display: block;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 40px;
}

.story {
  text-align: center;
  margin-top: 80px;
}

.text {
  margin: auto;
  max-width: 900px;
}

.story-text {
  max-width: 90%;
}

.team-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 100px auto;
}

.story-img-a, .story-img-b, .story-img-c {
  width: 30%;
  background-size: inherit;
  height: 237px;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
}

.story-img-a:hover, .story-img-b:hover, .story-img-c:hover {
  -webkit-box-shadow: 10px 10px 0px  #95e1d3;
          box-shadow: 10px 10px 0px  #95e1d3;
  top: -10px;
  left: -10px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.story-img-a::after, .story-img-b::after, .story-img-c::after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.story-img-a:hover:after, .story-img-b:hover:after, .story-img-c:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
  background-image: linear-gradient(to top, #fce38a, #f38181);
  opacity: 0.8;
}

.story-img-a:hover:before, .story-img-b:hover:before, .story-img-c:hover:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 52px;
  margin: -26px 0 0 -26px;
  position: absolute;
  top: 50%;
  left: 40%;
  background: url(../img/1.svg) 0 0 no-repeat;
  z-index: 100;
}

.story-img-a {
  background-image: url(../img/story-1.jpg);
}

.story-img-b {
  background-image: url(../img/story-2.jpg);
}

.story-img-c {
  background-image: url(../img/story-3.jpg);
}

.back-line {
  background-image: url(../img/border.svg);
  margin: 0 auto;
  max-width: 1920px;
}

.statistics-line {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.stat-box {
  width: 15%;
  text-decoration: none;
  list-style: none;
}

.stat-box {
  border-right: solid 1px #fff;
  padding: 35px;
}

.stat-box:first-child {
  border-left: solid 1px #fff;
}

.namb {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 72px;
  color: #fff;
  margin: auto;
}

@media (max-width: 1100px) {
  .story-img-a, .story-img-b, .story-img-c {
    width: 33%;
  }
  .story {
    margin-top: 70px;
  }
  .team-img {
    margin: 70px auto;
  }
}

@media (max-width: 1000px) {
  .story-img-a, .story-img-b, .story-img-c {
    height: 210px;
  }
  .story-img-a:hover, .story-img-b:hover, .story-img-c:hover {
    -webkit-box-shadow: 4px 4px 0px  #95e1d3;
            box-shadow: 4px 4px 0px  #95e1d3;
    top: -4px;
    left: -4px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .namb {
    font-size: 58px;
  }
  .stat-text {
    font-size: 12px;
    margin: auto;
  }
  .stat-box {
    padding: 28px;
  }
  .story {
    margin-top: 60px;
  }
  .team-img {
    margin: 60px auto;
  }
}

@media (max-width: 720px) {
  .heading {
    font-size: 25px;
  }
  .heading .top-heading {
    font-size: 20px;
  }
  .team-img {
    margin: 40px auto;
  }
  .namb {
    font-size: 48px;
  }
  .stat-text {
    font-size: 12px;
    margin: auto;
  }
  .stat-box {
    padding: 15px;
  }
  .story {
    margin-top: 50px;
  }
  .team-img {
    margin: 50px auto;
  }
}

@media (max-width: 650px) {
  .team-img {
    display: block;
  }
  .team-img {
    margin: 30px auto;
  }
  .story-img-a, .story-img-b, .story-img-c {
    width: 60%;
    margin: 5px auto;
  }
  .story {
    margin-top: 30px;
  }
}

@media (max-width: 520px) {
  .story {
    margin-top: 15px;
  }
  .namb {
    font-size: 25px;
  }
  .team-img {
    margin: 25px auto;
  }
  .stat-text {
    font-size: 7px;
    margin: auto;
  }
  .stat-box {
    padding: 10px;
  }
  .story-img-a {
    width: 380px;
  }
  .story-img-b, .story-img-c {
    display: none;
  }
}

@media (max-width: 380px) {
  .team-img {
    margin: 10px auto;
  }
  .story-img-a {
    width: 100%;
  }
}

.amazing-services {
  padding: 90px 0;
  text-align: center;
}

.services-card {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
}

.card {
  text-align: left;
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-name {
  margin: auto;
}

.card-left {
  width: 70%;
}

.card-img-1,
.card-img-2,
.card-img-3,
.card-img-4,
.card-img-5,
.card-img-6 {
  width: 32px;
  height: 32px;
  background-size: 100%;
}

.card-img-1 {
  background-image: url(../img/amaz-1.svg);
}

.card-img-2 {
  background-image: url(../img/amaz-2.svg);
}

.card-img-3 {
  background-image: url(../img/Ama-3.svg);
}

.card-img-4 {
  background-image: url(../img/amaz-4.svg);
}

.card-img-5 {
  background-image: url(../img/amaz-5.svg);
}

.card-img-6 {
  background-image: url(../img/amaz-6.svg);
}

@media (max-width: 1100px) {
  .amazing-services {
    padding: 70px 0;
  }
}

@media (max-width: 920px) {
  .amazing-services {
    padding: 50px 0;
  }
}

@media (max-width: 720px) {
  .amazing-services {
    padding: 30px 0;
  }
  .services-card {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (max-width: 520px) {
  .amazing-services {
    padding: 20px 0;
  }
  .card-text {
    font-size: 12px;
    line-height: 14px;
  }
  .card-name {
    font-size: 12px;
  }
}

.devices {
  background-image: url(../img/feauture.jpg);
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 650px;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.devices::after {
  background-color: #f8f8f8;
}

.what-we-do {
  margin-top: 50px;
  margin: 0 auto;
  text-align: center;
}

.box-accordion {
  margin: 7% auto 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
}

.photo-accordion {
  width: 49%;
}

.acc-photo-1, .acc-photo-2, .acc-photo-3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 390px;
}

.acc-photo-1 {
  background-image: url(../img/acc-1.jpg);
}

.acc-photo-2 {
  background-image: url(../img/acc-2.jpg);
  display: none;
}

.acc-photo-3 {
  background-image: url(../img/acc-3jpg.jpg);
  display: none;
}

.accordion {
  border-left: 2px solid rgba(153, 153, 153, 0.15);
  border-right: 2px solid rgba(153, 153, 153, 0.15);
  width: 49%;
  height: 390px;
}

.acc-box {
  border-top: none;
  margin-bottom: 7px;
}

.acc-card-name {
  border-top: 2px solid rgba(153, 153, 153, 0.15);
  border-bottom: 2px solid rgba(153, 153, 153, 0.15);
  text-align: left;
  background-image: url(../img/img-name-1.svg);
  background-repeat: no-repeat;
  background-position: 3%;
  padding: 20px 10px 20px 60px;
  position: relative;
  margin: 0;
}

.acc-card-name::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #989898;
  border-radius: 15px;
  right: 34px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.acc-card-name::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #989898;
  border-radius: 15px;
  right: 25px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.acc-card-name.active::after {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.acc-card-name.active::before {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.skroll {
  overflow: auto;
  text-align: left;
  height: 130px;
  padding-right: 25px;
}

.acc-box-text {
  padding: 4% 4% 3% 4%;
  display: none;
  border-bottom: 2px solid rgba(153, 153, 153, 0.15);
}

.active.acc-box-text {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.acc-card-text {
  margin: 0;
  font-style: italic;
}

.skroll::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #95e1d3;
}

.slider-comment {
  margin-top: 10%;
  background-color: rgba(153, 153, 153, 0.2);
}

.slider-box {
  max-width: 1200px;
  margin: auto;
  padding: 70px 0 70px 0;
}

.comment {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.message-img {
  background-image: url(../img/masg.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  width: 155px;
  height: 155px;
}

.comment-box {
  max-width: 745px;
}

.comment-text {
  margin: 0;
  font-style: italic;
  margin-bottom: 20px;
}

.comment-b {
  display: none;
}

.comment-c {
  display: none;
}

.author {
  position: relative;
  padding-left: 70px;
  margin-top: 20px;
}

.author::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top: 50%;
  left: 0;
}

.team {
  margin: 100px auto 100px auto;
  text-align: center;
}

.team-phot {
  margin: 90px auto 90px auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal-text {
  font-style: italic;
}

.personal-card {
  width: 30%;
}

.team-photo {
  width: 100%;
  height: 450px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
}

.team-photo:hover {
  -webkit-box-shadow: 10px 10px 0px  #95e1d3;
          box-shadow: 10px 10px 0px  #95e1d3;
  top: -10px;
  left: -10px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.team-photo::after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.team-photo:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
  background-image: linear-gradient(to top, #fce38a, #f38181);
  opacity: 0.8;
}

.team-photo:hover:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 52px;
  margin: -26px 0 0 -26px;
  position: absolute;
  top: 50%;
  left: 40%;
  background: url(../img/1.svg) 0 0 no-repeat;
  z-index: 100;
}

.michael-photo {
  background-image: url(../img/teamphoto3.jpg);
}

.campbell-photo {
  background-image: url(../img/teamphoto2.jpg);
}

.dix-photo {
  background-image: url(../img/teamphoto1.jpg);
}

.brend {
  max-width: 1920px;
  height: 250px;
  background-image: url(../img/logosssss.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 140%;
  margin: auto;
}

.work {
  margin: 90px auto 90px auto;
  text-align: center;
}

.work-backgraund {
  max-width: 1920px;
  margin: 90px auto 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
}

.gallery::after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.gallery:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
  background-image: linear-gradient(to top, #fce38a, #f38181);
  opacity: 0.8;
}

.gallery-box {
  width: 25%;
  display: block;
}

.gallery-photo-men {
  background-image: url(../img/men.jpg);
}

.gallery-photo-bridge {
  background-image: url(../img/bridge.jpg);
}

.gallery-photo-roof {
  background-image: url(../img/roof.jpg);
}

.gallery-photo-cky {
  background-image: url(../img/sky.jpg);
}

.gallery-photo-jellyfish {
  background-image: url(../img/jellyfish.jpg);
  height: 600px;
}

.gallery-photo-jellyfish:hover::after {
  background-image: -webkit-gradient(linear, right top, left top, from(#fce38a), to(#95e1d3));
  background-image: linear-gradient(to left, #fce38a, #95e1d3);
}

.gallery-photo-dome {
  background-image: url(../img/dome.jpg);
}

.gallery-photo-skyscraper {
  background-image: url(../img/skyscraper.jpg);
}

.work-img {
  background-image: url(../img/work-img.jpg);
  width: 242px;
  height: 242px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.comment-b {
  display: none;
}

.comment-c {
  display: none;
}

.people {
  padding-top: 110px;
  margin: 90px auto 90px auto;
  background-image: url(../img/baner-story.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1920px;
  text-align: center;
}

.clients-box {
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin: 0 auto;
  padding-bottom: 120px;
}

.people-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 540px;
  margin: 45px 35px;
}

.avatar {
  height: 100%;
  border-radius: 100%;
}

.people-info {
  margin-left: 5%;
  text-align: left;
}

.profession {
  font-style: italic;
  position: relative;
  margin-bottom: 40px;
}

.profession::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #f38181;
  top: 40px;
  left: 0;
}

.blog {
  max-width: 1200px;
  margin: 100px auto 100px auto;
  text-align: center;
}

.blog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.blog-img {
  width: 95%;
  height: 250px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.blog-a {
  background-image: url(../img/blogimg1.jpg);
}

.blog-b {
  background-image: url(../img/blokimg2.jpg);
}

.blog-c {
  background-image: url(../img/blogimg3.jpg);
}

.day {
  position: absolute;
  top: 150px;
  left: -10px;
  text-align: right;
  padding: 15px 18px 15px 15px;
  width: 8%;
  background-color: #95e1d3;
}

.day-namb {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
}

.month {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  font-style: italic;
}

.border-bottom {
  margin-left: 0px;
  width: 95%;
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(153, 153, 153, 0.15);
  margin-bottom: 20px;
}

.views {
  padding-left: 27px;
  width: 80%;
  background-image: url(../img/VIEWs.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 40%;
  font-style: italic;
}

.cloud {
  background-size: 40%;
  margin-left: 10px;
  padding-left: 27px;
  width: 80%;
  background-image: url(../img/BUBBLE2.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  font-style: italic;
}

.map {
  max-width: 1920px;
  margin: 100px auto 0 auto;
  background-image: url(../img/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.heading-map {
  margin: 0;
  padding: 48px 0;
  font-size: 25px;
  font-family: "Montserrat";
  color: #f38181;
}

.heading-map::after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 20px;
}

.heading-map::before {
  content: "";
  background-image: url(../img/PIN.svg);
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.footer {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.footer-name {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  margin-bottom: 40px;
}

.footer-box {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-logo {
  margin-right: 30px;
  width: 60%;
  text-align: left;
}

.footer-text {
  margin-bottom: 50px;
}

.followers {
  font-size: 20px;
  font-family: "Montserrat";
  color: #333;
  font-weight: 700;
  margin-right: 1%;
}

.social-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.social {
  margin-top: 20px;
  border-top: 2px solid rgba(153, 153, 153, 0.15);
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin: 3%;
}

.follow {
  margin: 20px 10px 20px 0px;
}

.facebook {
  background-image: url(../img/facebook.svg);
}

.twitter {
  background-image: url(../img/twitter.svg);
}

.instagram {
  background-image: url(../img/instagram.svg);
}

.pinterest {
  background-image: url(../img/pinterest.svg);
}

.google {
  background-image: url(../img/google.svg);
}

.youtube {
  background-image: url(../img/youtube.svg);
}

.dribbble {
  background-image: url(../img/dribbble.svg);
}

.tumbler {
  background-image: url(../img/tumblr.svg);
}

.footer-input {
  border: 2px solid rgba(153, 153, 153, 0.15);
  width: 60%;
  height: 34px;
  color: #ccc;
  font-size: 15px;
  font-family: "roboto";
  padding-left: 10px;
  outline: none;
}

.footer-input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 15px;
  font-family: "roboto";
  font-style: italic;
}

.footer-input:-ms-input-placeholder {
  color: #ccc;
  font-size: 15px;
  font-family: "roboto";
  font-style: italic;
}

.footer-input::-ms-input-placeholder {
  color: #ccc;
  font-size: 15px;
  font-family: "roboto";
  font-style: italic;
}

.footer-input::placeholder {
  color: #ccc;
  font-size: 15px;
  font-family: "roboto";
  font-style: italic;
}

.footer-input:hover {
  border: 2px solid rgba(153, 153, 153, 0.15);
}

.footer-button {
  border: none;
  background-color: #95e1d3;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  width: 30%;
  height: 40px;
  margin-left: -5px;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}

.footer-button:hover {
  border: 1px solid #95e1d3;
  background-color: #f8f8f8;
  -webkit-transition: 1s;
  transition: 1s;
  color: #999;
}

.box-blogs {
  width: 48%;
  display: -ms-grid;
  display: grid;
}

.blog-content {
  margin-left: 5%;
  width: 60%;
}

.text-shot {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  color: #333;
}

.text-dat {
  font-family: "roboto";
  font-weight: 400;
  color: #999999;
  line-height: 24px;
  font-size: 13px;
  font-style: italic;
}

.footer-blogs-card {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-instagram {
  width: 33%;
}

.link-box-inst {
  margin-top: 20px;
  display: block;
  text-decoration: none;
}

.link-box-inst:hover {
  color: #f38181;
}

.footer-botton {
  padding-top: 30px;
  padding-bottom: 1px;
  text-align: center;
  margin: 60px auto 0 auto;
  border-top: 2px solid rgba(153, 153, 153, 0.15);
}

.text-footer-botton {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #333;
}

.footer-botton-link {
  color: #f38181;
}
