.amazing-services {
    padding:90px 0 ;
    text-align: center;
}
.services-card {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 33% 33% 33%;
}
.card {
    text-align: left;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}
.card-name {
    margin: auto;
    @extend%mont-reg-name;
}
.card-left {
    width: 70%;
}
.img-photography,
.img-web,
.img-creativity,
.img-seo,
.img-css,
.img-didgital{
    width: 32px;
    height: 32px;
    background-size: 100%;
}
.img-photography {
    background-image: url(../img/amaz-1.svg);;      
}
.img-web {
    background-image: url(../img/amaz-2.svg);
}
.img-creativity {
    background-image: url(../img/Ama-3.svg);
}
.img-seo {
    background-image: url(../img/amaz-4.svg);
}
.img-css {
    background-image: url(../img/amaz-5.svg);
}
.img-didgital {
    background-image: url(../img/amaz-6.svg);
}

@media(max-width: 1100px) {
    .amazing-services{
        padding: 70px 0;
    }
}

@media(max-width: 920px) {
    .amazing-services{
        padding: 50px 0;
    }
}

@media(max-width: 720px) {
    .amazing-services{
        padding: 30px 0;
    }
    .services-card {
        grid-template-columns: 50% 50%;
    }
}

@media(max-width: 520px) {
    .amazing-services{
        padding: 20px 0;
    }
    .card-text {
        font-size: 12px;
        line-height: 14px;
    }
    .card-name {
        font-size: 12px;
    }
}