$color_1: #95e1d3;
$color_2: #fce38a;
$color_3: #f38181;
@mixin button ( $c,$bc) {
    color: $c;
    border: $bc;
}
%mont-reg-text-btn{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

.banner {
    background-image: url("../img/baner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    max-width: 1920px;


}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
}

.header-nav {
    display: flex;
    width: 35%;
    margin-left: auto;
    margin-right: 5%;
}

.navbar {
    display: flex
}

.li {
    list-style: none;
    margin-right: 10%
    
}

.link-nav {
    @extend%mont-reg;
    text-decoration: none;

    &:hover{
        padding-bottom: 5px;
        color: $color_2;
        border-bottom: solid 2px $color_2;
        // transition: 800ms;
    }
}

.header-button {
    margin-left: 5%;
}

.butn {
    border: none;
    background: none;
    width: 20px;
    height: 19px;
    background-repeat: no-repeat;
    margin-top: 3px;

    &:hover{
        border-bottom: solid 1px $color_2;
        cursor: pointer;
    
    }
}

.basket {
    background-image: url("../img/SHOPPING\ CART.svg");
}

.Search {
    background-image: url("../img/MAGNIFYING\ GLASS.svg");
    margin-left: 42px;
    
}

.header-mid {
    text-align: center;
    padding: 0 180px;
}

.heder-heading {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 150px;
    color: #ffffff;
    line-height: 140px;
    margin-bottom: 5%;

    &::after {
        content: '';
        width: 60px;
        height: 3px;
        display: block;
        background-color:#ffffff;
        margin: 0 auto;
        margin-top: 70px;
    
    }   
}

.header-heading-top {
    font-family:'Kaushan Script';
    font-weight: 400;
    color: #ffffff;
    font-size: 72px;
}

.btn-more {
    @extend%mont-reg-text-btn;
    width: 20%;
    @include button (#ffffff,#ffffff solid 3px);
    background: none;
    height: 40px;

    &:hover{
        @include button ($color_3,$color_3 solid 3px);
        transition: 800ms;
    }

}
.header-botton {
    padding-top: 8%;
    padding-bottom: 1%;
}

.running-line {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}


.line {
    width: 20%;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    border-top: solid 3px #ffffff;
    list-style: none;
    padding-top: 25px;
    display: block;

    .media-text-b {
        // @extend%mont-reg-text;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
    }

    &:hover {
        border-top: $color_3 solid 3px;
    }

    &:hover, &:hover >.text-b{
        transition: 800ms;
        color: $color_3;
    }
}
         
@media (max-width: 1200px){
    .header-top {
        margin: 0 auto;
        padding: 0 15px; 

    }
    .heder-heading{
        font-size: 120px;
    }
    .running-line{
        padding: 0 15px;
    }
    

}
@media (max-width: 1100px) {
    .heder-heading{
        font-size: 95px;
        line-height:100px;
    }

}
@media(max-width: 980px){
    .heder-heading{
        font-size: 70px;
        line-height: 70px;
    }
    .header-heading-top{
        font-size: 50px;

    }
    .header-nav{
        display: none;
    }
    .btn-more{
        width: 30%;
    }

}

@media(max-width: 720px){
    .header-mid{
        padding: 0 130px;
    }
    
    .heder-heading{
        font-size: 50px;
        line-height: 50px;
    }

    .header-heading-top{
        font-size: 30px;

    }
    .btn-more{
        width: 40%;
        font-size: 13px;
    }
    .media-text-b{
        font-size: 10px;
    }
    .line{
        font-size: 15px;
        padding-top: 20px;

        .media-text-b{
            font-size: 11px;
        }
    }

}
@media(max-width: 520px){
    .header-mid{
        padding: 0 80px;
    }
    .heder-heading{
        font-size: 40px;
        line-height: 40px;
    }

    .header-heading-top{
        font-size: 25px;

    }
    .btn-more{
        width: 40%;
        font-size: 10px;
    }
    .line{
        font-size: 13px;
        padding-top: 10px;

        .media-text-b{
            font-size: 9px;
        }
    }

}
@media(max-width: 380px){
    .heder-heading{
        font-size: 30px;
        line-height: 30px;
    }
    .header-heading-top{
        font-size: 15px;

    }
    .btn-more{
        width: 50%;
        font-size: 8px;
        height: 25px;
    }
    .line{
        font-size: 11px;

        .media-text-b{
            font-size: 7px;
        }
    }

}
