.people {
    padding-top: 110px;
    margin: 90px auto 90px auto;
    background-image: url(../img/baner-story.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1920px;
    text-align: center;
}
.clients-box {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin:  0 auto;
    padding: 0 0 120px 0;
}
.people-card {
    display: flex;
    max-width: 540px;
    margin: 45px 35px;
}
.avatar {
    height: 100%;
    border-radius: 100%;
}
.people-info {
    margin-left: 5%;
    text-align: left
}
.people-name {
    @extend%mont-reg-name;
}
.profession {
    @extend%robo-reg;
    font-style: italic;
    position: relative;
    margin-bottom: 40px;
    &::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 3px;
        background-color:#f38181 ;
        top: 40px;
        left: 0;
    }
}

@media(max-width: 900px) {
    .people-card {
        margin: 30px 20px;
    }
    .people {
        margin-bottom: 45px;
    }
}

@media(max-width: 700px) {
    .people-card {
        margin: 10px 10px;
    }
    .avatar {
        width: 100px;
    }
    .people-text {
        font-size: 12px;
        line-height: 21px;
    }
}

@media(max-width: 600px) {
    .clients-box {
        display: block;
        padding: 0 10px 40px 10px;
    }
    .avatar {
        width: 80px;
    }
    .profession{
        margin-bottom: 25px;
    }
}

@media(max-width: 400px) {
    .avatar {
        width: 60px;
    }
    .people-text {
        font-size: 11px;
        line-height: 19px;
        position: relative;
        right: 50px;
    }
}