$color_1: #95e1d3;
$color_2: #fce38a;
$color_3: #f38181;

@mixin button ( $c,$bc) {
    color: $c;
    border: $bc;
}
.heading {
    @extend%mont-bold;
    &::after {
        content: '';
        width: 60px;
        height: 3px;
        display: block;
        background-color:$color_3;
        margin: 0 auto;
        margin-top: 40px;
    }   
        .top-heading {
             @extend%kaushan;
        }
}
.story {
    text-align: center;
    margin-top: 80px;
}
.text {
    @extend%robo-reg;
    margin:auto;
    max-width: 900px;
}
.story-text {
    max-width: 90%;
    padding: 0 10px;
}
.team-img {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 100px auto;
}
.img-macbook,
.img-phone,
.img-camera{
    width: 30%;
    background-size: inherit;
    height: 237px;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    top: 0;
    left: 0;
        &:hover {
            box-shadow: 10px 10px 0px  #95e1d3;
            top: -10px;
            left: -10px;
            transition: 500ms;
            
        }
        &::after {
            content: "";
	        opacity: 0;
            transition: opacity 0.7s ease-in-out;
        }
        &:hover:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;    
            position: absolute;
            top: 0;    
            left: 0;   
            background: transparent;
            background-image: linear-gradient(to top, $color_2, $color_3);    
            opacity: 0.8;     
        }
        &:hover:before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 52px;
            margin: -26px 0 0 -26px;  
            position: absolute;    
            top: 50%;
            left: 40%;    
            background: url(../img/1.svg) 0 0 no-repeat;
            z-index: 100;
        }   
}
.img-macbook {
    background-image: url(../img/story-1.jpg);
}
.img-phone {
    background-image: url(../img/story-2.jpg);
}
.img-camera {
    background-image: url(../img/story-3.jpg);    
}
.back-line {
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../img/border.svg); 
}
.statistics-line {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
.statistics {
    display: flex;
    justify-content:space-between;
    padding: 0; 
}
.stat-box {
    width: 15%;
    text-decoration: none;
    list-style: none;  
}
.stat-box {
    border-right: solid 1px #fff;
    padding: 35px;

         &:first-child{
        border-left: solid 1px #fff;
        }
}
.namb {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 72px;
    color: #fff;
    margin: auto
}
.stat-text {
    @extend%mont-reg;
}
@media(max-width: 1100px) {
    .img-macbook,
    .img-phone,
    .img-camera {
        width: 33%;
    }
    .story {
        margin-top: 70px;
    }
    .team-img {
        margin: 70px auto;
    }
}

@media(max-width: 1000px) {
    .img-macbook,
    .img-phone,
    .img-camera {
        height: 210px;

         &:hover{
            box-shadow: 4px 4px 0px  #95e1d3;
            top: -4px;
            left: -4px;
            transition: 500ms;     
            }
        }
    .namb {
        font-size: 58px;
    }
    .stat-text {
        font-size: 12px;
        margin: auto;
    }
    .stat-box {
        padding: 28px;
    }
    .story {
        margin-top: 60px;
    }
    .team-img {
        margin: 60px auto;
    }
}

@media(max-width: 720px) {
    .heading{
        font-size: 25px;

        .top-heading{
            font-size: 20px;
        }
    }
    .team-img {
        margin: 40px auto;
    }
    .namb {
        font-size: 48px;
    }
    .stat-text {
        font-size: 12px;
        margin: auto;
    }
    .stat-box {
        padding: 15px;
    }
    .story {
        margin-top: 50px;
    }
    .team-img {
        margin: 50px auto;
    }
}

@media(max-width: 650px) {
    .team-img{
        display: block;
    }
    .team-img {
        margin: 30px auto;
    }
    .img-macbook,
    .img-phone,
    .img-camera {
        width: 60%;
        margin: 5px auto;
    }
    .story {
        margin-top: 30px;
    }
}

@media(max-width: 520px) {
    .story {
        margin-top: 15px;
    }
    .namb {
        font-size: 25px;
    }
    .team-img {
        margin: 25px auto;
    }
    .stat-text {
        font-size: 7px;
        margin: auto;
    }
    .stat-box {
        padding: 10px;
    }
    .img-macbook {
        width: 380px;
    }
    
    .img-phone,
    .img-camera {
        display: none;
    }
}

@media(max-width: 380px){
    .team-img{
        margin: 10px auto;
    }
    .img-macbook{
        width: 100%;
    }
}
