.what-we-do{
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
}
.box-accordion {
    margin: 7% auto 10% auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.photo-accordion {
    width: 49%;
}
.acc-photo-1,.acc-photo-2,.acc-photo-3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 390px;
}
.acc-photo-1 {
    background-image: url(../img/acc-1.jpg);
}
.acc-photo-2 {
    background-image: url(../img/acc-2.jpg);
    display:none;
}
.acc-photo-3 {
    background-image: url(../img/acc-3jpg.jpg);
    display:none;
}
.accordion {
   border-left: 1px solid #989898;
   border-right: 1px solid #989898;
    width: 49%;
    height: 390px;
}
.acc-box {
    border-top: none;

    margin-bottom: 7px;
    // height: 30%;
    // overflow: auto;
}
.acc-card-name {
    border-top : 1px solid #989898;
    border-bottom: 1px solid #989898;
    text-align: left;
    background-image: url(../img/img-name-1.svg);
    background-repeat: no-repeat;
    background-position: 3%;
    padding: 20px 10px 20px 60px;
    position: relative;
    margin: 0;

    &::after{
        content: '';
        position: absolute;
        width: 15px;
        height: 3px;
        background-color: #989898;
        border-radius: 15px;
        right: 34px;
        transform: rotateZ(45deg);
        
    }
    &::before{
        content: '';
        position: absolute;
        width: 15px;
        height: 3px;
        background-color: #989898;
        border-radius: 15px;
        right: 25px;
        transform: rotateZ(-45deg);
    }
    
}

.acc-card-name.active{
    &::after{
        transform: rotateZ(-45deg);

    }
    &::before{
        transform: rotateZ(45deg);

    }

}
.skroll{
    overflow: auto;
    text-align: left;
    height: 130px;
    padding-right: 25px;
}
.acc-box-text{
    padding: 4% 4% 4% 4%; 
    display: none;
    border-bottom: 1px solid #989898;
}
.active.acc-box-text{
    display: block;
    transition: 0.3s;
}
.acc-card-text {
    margin: 0;
    font-style: italic;
}
.skroll::-webkit-scrollbar {
    width: 6px;
    background-color: rgba( 153, 153, 153, 0.2);
    border-radius: 10px;
 }

 /* Track */
::-webkit-scrollbar-track {

   -webkit-border-radius: 10px;
   border-radius: 10px;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px ;
   border-radius: 10px;
   background: #95e1d3 ; 
 }
.slider-comment {
    margin-top: 10%;
    background-color: rgba( 153, 153, 153, 0.2);
}
.slider-box{
    max-width: 1200px;
    margin: auto;
    padding: 70px 0 70px 0;
}
.comment {
    text-align: left;
    display: flex;
    justify-content: space-around;

}
.message-img{
    background-image: url(../img/masg.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
    width: 155px;
    height: 155px;
    
}
.comment-box{
    max-width: 745px;
}
.comment-text {
    margin: 0;
    @extend%robo-li;
    font-style: italic;
    margin-bottom: 20px;

}
.comment-a {

}

.comment-b {
 display: none;
}
.comment-c {
    display: none;
}
.author {
    @extend%kaushan;
    position: relative;
    padding-left: 70px;
    margin-top: 20px;

    &::after{
        content: "";
        width: 60px;
        height: 3px;
        background-color: #f38181;
        position: absolute;
        top: 50%;
        left: 0;


    }
}