@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "_heder";
@import"_story";
@import"_amazingService";
@import"_devices";
@import"_WatWeDo";
@import"_team";
@import"_work";
@import"_people";
@import"_blog";
@import"_map";
@import"_footer";
// // @extend подключает шаблон (%)
// //  оператор шаблон      
//     %Название{
// //      color:#444;}
// //  оператор переменной  
//      $Название: #444;

//      Миксин
//      @mixin name ($clr,$...$..) {
// //          color: $clr;
//          } В скобках можно указывать несколько функций 
//          подключение миксина 
//          @include name ($clr,$...,$...)
%robo-reg{
    font-family: "roboto";
    font-weight: 400;
    color: #999999;
    line-height: 24px;
    font-size: 15px;
}
%robo-li{
    font-family: "roboto";
    font-weight: 300;
    color: #999999;
    line-height: 36px;
    font-size: 24px;
}
%kaushan{
    font-family:'Kaushan Script';
    font-weight: 400;
    font-size: 24px;
    color: #363636;
}
%mont-bold{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    color: #363636;
}
%mont-reg-text{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}
%mont-bold-namb{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}
%mont-reg{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

%mont-reg-name{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #333333;

}
$color_1: #95e1d3;
$color_2: #fce38a;
$color_3: #f38181;
.conteiner {
    max-width: 1200px;
    margin: 0 auto;   
}
.body{
    margin: 0;
}
// .heading{
//     @extend%mont-bold;
    


//     .top-heading{
//         @extend%kaushan;
//     }
// }
// .text-b{
//      @extend%mont-reg

// }

