@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "_heder";
// // @extend подключает шаблон (%)
// //  оператор шаблон      
//     %Название{
// //      color:#444;}
// //  оператор переменной  
//      $Название: #444;

//      Миксин
//      @mixin name ($clr,$...$..) {
// //          color: $clr;
//          } В скобках можно указывать несколько функций 
//          подключение миксина 
//          @include name ($clr,$...,$...)
%robo-reg{
    font-family: "roboto";
    font-weight: 400;
    color: #999999;
    line-height: 24px;
    font-size: 15px;
}
%robo-li{
    font-family: "roboto";
    font-weight: 300;
    color: #999999;
    line-height: 36px;
    font-size: 24px;
}
%kaushan{
    font-family:'Kaushan Script';
    font-weight: 400;
    font-size: 24px;
    color: #95e1d3;
}
%mont-bold{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
}
%mont-reg{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}
$color_1: #95e1d3;
$color_2: #fce38a;
$color_3: #f38181;
.conteiner {
    max-width: 1200px;
    margin: 0 auto;
   
}

